<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>{{ title }}</title>
    </head>
    <body>
        <main class="home">
            <header>
                <a href="/" class="nolink">
                    <h1>{{ site.name }}</h1>
                </a>
                <h4>{{ site.subtitle }}</h4>
            </header>
            <nav class="main">
                {% include "./components/navbar.liquid" %}
            </nav>
            {{ content }}
            <footer>
                {% include "./components/footer.liquid" %}
            </footer>
        </main>
    </body>
</html>